// Shared styles for all ListItem components (StackListItem, ContainerListItem, etc.)
@import "vars";

.item {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    min-height: 46px;
    border-radius: 10px;
    transition: none;
    width: 100%;
    padding: 5px 8px;
    margin: 3px 0;
    overflow: hidden;
    min-width: 0;

    &:hover {
        background-color: $highlight-white;
    }

    &.active {
        background-color: $highlight-white;
        border-left: 4px solid $primary;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .title {
        margin-top: -4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.badge {
    white-space: nowrap;
}
